<p>Hello,</p>

<p>You have requested to reset your password. Please click the link below to create a new password:</p>

<p>
  <a href="https://your-app.com/reset-password?token={{resetToken}}">Reset Password</a>
</p>

<p>This link is valid for a limited time only.</p>

<p>If you did not make this request, please ignore this email.</p>

<p>Thank you,<br />E-Commerce Team</p>
