<p>Hello {{email}},</p>

<p>Welcome to our application! We are excited to have you on board.</p>

<p>You can now explore all our features, place orders, browse products, and stay updated with notifications.</p>

<p>If you have any questions, our support team is here to help.</p>

<p>Happy shopping!<br />E-Commerce Team</p>
